<div class="container">
      <div class="row">
            <form action="" method="post">
                  <div class="form-group">
                        <label>Email</label>
                        <input type="text" name="email" placeholder="Enter email" class="form-control">
                        {if(isset($email_error))}
                        {echo $email_error}
                        {/if}
                  </div>

                  <div class="form-group">
                        <label>Password</label>
                        <input type="password" name="password" placeholder="Enter password" class="form-control">
                        {if(isset($_password_error))}
                        {echo $password_error}
                        {/if}
                  </div>

                  <button type="submit" name="login">Login</button>
            </form>
      </div>
</div>