<div class="container">
      <div class="row">
            <form action="" method="post">
                  
                  <div class="form-group">
                        <label>First</label>
                        <input type="text" name="first" placeholder="Enter first name" class="form-control">
                        {if(isset($first_error))}
                        {echo $first_error}
                        {/if}
                  </div>

                  <div class="form-group">
                        <label>First</label>
                        <input type="text" name="last" placeholder="Enter last name" class="form-control">
                        {if(isset($last_error))}
                        {echo $last_error}
                        {/if}
                  </div>

                  <div class="form-group">
                        <label>Email</label>
                        <input type="text" name="email" placeholder="Enter email" class="form-control">
                        {if(isset($email_error))}
                        {echo $email_error}
                        {/if}
                  </div>
      
                  <div class="form-group">
                        <label>Password</label>
                        <input type="password" name="password" placeholder="Enter password" class="form-control">
                        {if(isset($password_error))}
                        {echo $password_error}
                        {/if}
                  </div>
      
                  <button type="submit" name="register">Register</button>
            </form>
      </div>
</div>