<div class="container">
      <div class="row">
            {if(isset($success))}
            <p>Blog post added successfully.</p>
            {/if}
            <form action="" method="post">
                  <div class="form-group">
                        <label>Title</label>
                        <input type="text" name="title" placeholder="Title" class="form-control">
                        {if(isset($title_error))}
                        {echo $title_error}
                        {/if}
                  </div>
                  <div class="form-group">
                        <label>Content</label>
                        <input type="text" name="content" placeholder="Content" class="form-control">
                        {if(isset($content_error))}
                        {echo $content_error}
                        {/if}
                  </div>
                  <button type="submit" class="btn btn-info">Submit</button>
            </form>
      </div>
</div>