<div class="container">
      <div class="row">
            {if(isset($success))}
            <h1>{echo $post_title}</h1>
            <p>{echo $post_content}</p>
            {/if}
            {else}
            <h4>Blog not found.</h4>
            {/else}
      </div>
 </div>