<div class="container">
    <div class="starter-template">
        <h1>SwiftMVC PHP Framework</h1>
        <p class="lead">SwiftMVC is a light but powerful PHP Framework for building web API based applications.
            <br> Higly Scalable with Caching and NoSQL Support.</p>

        <p>
        	<blockquote>
        		Your IP: {{echo $ip}} <br>
                Request Headers: {{echo json_encode($headers)}}
                <a href="/users/login">Login</a>
        	</blockquote>
        </p>
    </div>
</div>
